*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color:darkblue;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    /*background-color: white;*/
}
h2{
    font-size: 35px;
    color: default;
    text-align: center;
    font-weight: bold;
}
.container{
    display: flex;
    gap: 40%;
    border-bottom: 2px solid rgb(92, 39, 2);
    background-color: beige;
}
.logo img{
    border-radius: 50%;
}
.menu{
  margin-top: 37px;  
}
.menu a{
    margin-left: 13px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: chocolate;
}
ul li{
    float: left;
    display: flex;
}

 #drop_list{
    display: none;
}
#products:hover #drop_list{
    display: block;
}

.menu a:hover{
    color: rgb(136, 58, 2);
    text-decoration: underline;
}
.footer{
    margin-bottom: 37px; 
    border-top: 2px solid rgb(92, 39, 2);
    background-color: beige;
}











/* .division marquee{
    border-radius: 15px;
    border-style: solid;
    background-color: white;
    font-weight: bold;
}

.links a{
    padding: 20px 30px;
    text-decoration: none;
    color: #000;
}
/* nav a{
  float: left;
  color: darkblue;
  font-weight: bolder;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  background-color: aqua;
} 

.links a:hover{
    color:#2d3436;
    background-size: 10px;
    border-radius: 15px;
} */

img{
    size: 100%;
    border-radius: 8px;
}



div.form{
  background-color:azure;
  text-align: justify;
  position: relative;
  width: 40%;
  padding: 20px 20px;
  border: 20px solid gray;
  margin:  2cm auto;
  border-style: solid;
  border-width: 5px 10px 15px 10px;
  border-radius: 15px;
  justify-content: center;
}

.home{
    text-align: right;
}

/*.body{
    background-color: black;
    background-image: url(/LiquorStore/pictures/IMG-20230616-WA0035.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
} */
label{
    font-size:x-large;
    font-weight: bold
}
input, select{
    color: black;
    font-size: medium;
    font-weight: bold;
    background-color:white;
    border-style: solid;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8 px;
}

input:focus{
    outline: 0;
    box-shadow: 0 0 0 3px blueviolet;
}

.liquors{
    margin-top: 0;
    border-style: solid;
    width: 8.5cm;
}
.images{
    border: 2px 2px;
}
button{
    border-radius: 6px;
}

button:hover{
    background-color: aqua;
}
.body{
    background-color: white;
}

